@tailwind base;
@tailwind components;
@tailwind utilities;


 


  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: black ;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 4px;
  }


  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    height: 0px;
    background-color: black;
    border-radius: 10px;
    border: none;
  }

  *::-webkit-scrollbar-button {
    width: 0px; 
    height: 0px; 
  }